:root {
  --secondary-blue: #6c7eb9;
  --on-secondary-blue: #E9EEF9;
  --on-secondary-container: #566183;
  --primary-red: #ea4f67;
  --surface: #F7F7F7;
  --primary: #EA4F67;
  --text-color: #515151;
}
